// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$app-default: #484666;
$black-common: #2c333a;
$black-09: #090a0b;
$black-38: #383b45;
$border-grey: #d9d9d9;
$color-title: #111111;
$background: #ffffff;
$white-basic: #fff;
$grey-e9: #e9ecef;
$grey-9a: #9a9a9a;
$grey-74: #747274;
$grey-de: #dee2e6;
$grey-88: #8898aa;
$grey-f7: #f7f7f7;
$grey-65: #656565;
$grey-d9: #d9d9d9;
$black-basic: #000000;
$background-wh: #f6f6f6;
$greyAA: #aaaaaa;
$redF7: #ff7f7c;
$red-a9: #a9122b;
$pink-f8: #f8bed8;
$pink-e6: #e61973;
$grey74: #747274;
$grey63: #636363;
$greyB1: #b1b1b1;
$black-1F: #1f1e25;
$grey-400: #757575;
$grey-300: #d2d2d2;
$grey-200: #e3e3e3;
$grey-100: #e5e5e5;
$grey-f5: #f5f6f7;
$blue-900: #0057ff;
$grey-e1: #e1e2e5;
$grey-f8: #f8f9fa;
$grey-6b: #6b6b6b;
$grey-c8: #c8c8c8;
$grey-f5: #f5f5f5;
$grey-f6: #f6f6f6;
$grey-e7: #e7e7e7;
$grey-83: #838695;
$grey-a3: #a3a5ae;
$grey-c4: #c4c6cd;
$grey-f1: #f1f2f3;
$error: #ff3e3e;
$main-blue: #0057ff;
$kakao-yellow: #ffcf27;
$blue-bold: #002469;
$blue-49: #49b9c1;
$green-500: #0da500;
$grey-e3: #e3e3e3;
$bs-mul-sec-1: 0px 0px 0px 2px $blue-49, 0px 0px 0px 1px $white-basic;
$bs-sin-pri-1: 0px 0px 0px 2px rgba(230, 25, 115, 0.2);
$bs-neutral-lg: 0px 4px 6px -2px rgba(16, 24, 40, 0.02), 0px 12px 20px -4px rgba(96, 115, 152, 0.08);
$bs-neutral-xl: 0px 6px 8px -2px rgba(16, 24, 40, 0.04), 0px 14px 28px -5px rgba(96, 115, 152, 0.16);
$gradient-t-200-p-500: linear-gradient(213deg, #f57867 0%, #e61973 100%);
$gradient-p-500-t-200: linear-gradient(213deg, #e61b72 0%, #f57867 100%);
$gradient-n-50-n-25: linear-gradient(135deg, #f1f2f3 0%, #f5f6f7 62.03%);
$solid-primary-50: #fef1f7;
$solid-primary-100: #fce0ec;
$solid-primary-200: #f8bed8;
$solid-primary-400: #eb478f;
$solid-primary-500: #e61973;
$solid-neutral-0: #ffffff;
$solid-neutral-25: #f5f6f7;
$solid-neutral-50: #f1f2f3;
$solid-neutral-100: #e1e2e5;
$solid-neutral-900: #090a0b;
$solid-neutral-300: #a3a5ae;
$solid-neutral-500: #626576;
$solid-error-700: #a9122b;

// Diggin Colors
$black: #000000;
$white: #ffffff;
$gray-90: #101014;
$gray-80: #1f1f29;
$gray-70: #2c2c34;
$gray-60: #333439;
$gray-50: #62626c;
$gray-40: #7e7e86;
$gray-30: #9f9ea4;
$gray-20: #c3c3c3;
$gray-10: #f2f3f5;
$informing-primary: #ff0094;
$informing-point: #28ffff;
$informing-waiting: #00c7be;
$informing-danger: #ff0a09;
$gradient-blue: linear-gradient(to right, #28ffff, #3182f7);
$gradient-sky: linear-gradient(
  162deg,
  rgba(103, 110, 255, 1) -4.94%,
  rgba(210, 58, 255, 1) 27.82%,
  rgba(255, 0, 148, 1) 67.31%,
  rgba(255, 101, 0, 1) 109.68%
);
$gradient-blue-2: linear-gradient(
  322deg,
  rgba(255, 101, 0, 1) 6.63%,
  rgba(255, 0, 148, 1) 28.77%,
  rgba(210, 58, 255, 1) 60.11%,
  rgba(103, 110, 255, 1) 86.85%
);
